*{
    padding: 0;
    margin: 0;
}
/* Added background color to page */
body {
    background-color: rgb(8, 112, 119);
}
/*Added Header styles*/
header {
    background-color:rgb(216, 100, 5);
    font-family: fantasy;
    text-align: center;
}

header h1{
    color: rgb(1, 30, 49);
}

/* nav {
   padding: 10px; 
}  */

header .Hunter{
    color: rgb(8, 112, 119);

}

main{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.box {

    border: 5px;
    border-style: dashed;
    border-color: rgb(216, 100, 5);
    padding: 5px;
    margin: 50px;
    word-wrap: break-word;

}
.box img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    height: 50%;
}
footer {
    text-align: center;
    color: white;
}
/* 992px maxwidth
.box to style boxes */