*{
    padding: 0;
    margin: 0;
}
/* Added background color to page */
body {
    background-color: rgb(1, 30, 49);
}
/*Added Header styles*/
header {
    background-color:rgb(216, 100, 5);
    font-family: fantasy;
    text-align: center;
}

header h1{
    color: rgb(1, 30, 49);
}

/* nav {
    
}  */

header .Hunter{
    color: rgb(8, 112, 119);

}

main{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

