*{
    padding: 0;
    margin: 0;
}
/* Added background color to page */
body {
    background-color: rgb(8, 112, 119);
}
/*Added Header styles*/
header {
    background-color:rgb(216, 100, 5);
    font-family: fantasy;
    text-align: center;
}

header h1{
    color: rgb(1, 30, 49);
}

nav a {
   margin: 10px;
} 

header .Hunter{
    color: rgb(8, 112, 119);

}

main{
    display: flex;
    flex-direction: column;
    color: white;
    /* text-align: center; */
}

.container {
max-width: 920px;
display:block;
margin: 0 auto;
}

.box {

    border: 5px;
    border-style: dashed;
    border-color: rgb(216, 100, 5);
    padding: 5px;
    margin: 50px;
    

}
.responsive-img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 100%;
}
footer {
    text-align: center;
    color: white;
}

#welcome .box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.mini-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Gets rid of bullet points on the ul */
ul {
  list-style-type:none; 
}

@media (max-width: 767px) {
#welcome .box, .mini-projects {
    display: block;
}

}
/* 992px maxwidth
.box to style boxes */